#me {
  width: 200px;
  /* height: 200px; */
  height: auto;
  /* border-radius: 50%; */
}

.top-navigation-bar ul {
  list-style-type: none;
  padding: 0%;
}

.top-navigation-bar ul li {
  display: inline-block;
}

.top-navigation-bar a {
  color: chocolate;
  text-decoration: none;
}

.top-navigation-bar a:hover {
  color: grey;
}

body {
  font-size: 130%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  background: #131313;
  text-align: center;
  margin: 0 auto;
  max-width: 70rem;
}

p {
  text-align: justify;
}

#blogs-list {
  text-align: justify;
}

a {
  color: inherit;
}

.recommendation-soft {
  display: flex;
  justify-content: center;
  text-align: justify;
}
.recommendation-soft ul{
  list-style-type:lower-roman;
}
